header {
  width: auto;
  height: 120px;
  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(23,22,18);
}
header h1, .header-desktop .dates, .header-mobile h2 {
  font-size: 20px;
  font-family: 'Mantra Alt';
  margin: 0;
  color: rgb(229,203,170);
  font-weight: 200;
  line-height: 30px;
}
.header-desktop .dates {
  display: flex;
  align-items: baseline;
  font-size: 33px;
}
.coucool {
  font-weight: 800;
  font-family: 'Personify';
  font-size: 40px;
}
.header-desktop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid rgb(229,203,170);
}
.header-mobile {
  display: none;
}
.hamburger {
  position: relative;
  margin-left: 10px;
  display: block;
  height: 27px;
  width: 35px;
  cursor: pointer;
  z-index: 100;
  transition: opacity 0.25s ease;
}

.hamburger.active .top {
  transform: translateY(11px) translateX(0) rotate(45deg);
  background: #FFD6AC;
}
.hamburger.active .middle {
  opacity: 0;
  background: #FFD6AC;
}
.hamburger.active .bottom {
  transform: translateY(-11px) translateX(0) rotate(-45deg);
  background: #FFD6AC;
}
.hamburger span {
  background: #FFD6AC;
  height: 4px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.35s ease;
}
.hamburger span:nth-of-type(2) {
  top: 11px;
}
.hamburger span:nth-of-type(3) {
  top: 22px;
}

@media screen and (min-width: 1000px) and (max-width: 1400px) {
  header {
    padding: 0 1rem;
  }
  .header-desktop h1, .header-desktop .dates, .header-mobile h2 {
    font-size: 15px;
  }
  .header-desktop .dates {
    font-size: 21px;
  }
}

@media screen and (max-width: 1000px) {
  header {
    height: 150px;
    padding: 0 2rem;
  }
  .header-desktop {
    display: none;
  }
  .header-mobile {
    display: block;
  }
  .header-mobile .top-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(229,203,170);
  }
  .header-mobile h1 {
    font-weight: 800;
    font-family: 'Personify';
    font-size: 45px;
    line-height: unset;
  }
  .header-mobile h2 {
    padding-top: 10px;
    font-size: 28px !important;
  }
}

@media screen and (max-width: 356px) {
  .header-mobile h1 {
    font-size: 40px;
  }
  .header-mobile h2 {
    font-size: 23px !important;
  }
}
