#loader {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  background: var(--background-color);
  color: #FFD6AC;
  font-size: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  transition: 0.1s ease-out;
}

@media screen and (max-width: 1000px) {
  #loader {
    font-size: 70px;
  }
}
