  :root{
    --footer-header-height:120;
    --video-initial-height:1500;
    --video-initial-width:2900;
    --video-ratio:calc(var(--video-initial-width) / var(--video-initial-height) );
    --main-color:rgb(243, 211, 171);
    --background-color:rgb(23,22,18);
    height: 100%;
  }

  body {
    margin:0;
    min-width: 100vw;
    display: grid;
    grid-template-rows: auto 1fr auto;
    font-family: 'Mantra Alt';
    min-height: 100%;
  }
  header {
    width:100%;
    height: calc(var(--footer-header-height) * 1px);
    background-color: var(--background-color); color:white
  }
  main {
    width:100%;
    overflow: hidden;
  }
  .no-height {
    height: 0 !important;
  }

