.menu-window {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: calc(100% - 120px);
  width: 100%;
  font-family: "Circular";
  color: #FFD6AC;
}
.menu-left {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 100%;
  margin: auto 0;
  justify-content: space-around;
  border-right: 1px solid #FFD6AC;
  padding-right: 5rem;
}
.menu-right {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 5rem;
}


.menu-left h3 {
  font-size: 36px;
  text-align: right;
  font-weight: normal;
  margin-bottom: 30px;
}


.menu-left h3 strong {
  font-size: 60px;
}

.menu-left .menu-contact #mail {
  font-weight: 800;
  text-decoration: underline;
  margin-right: 15px;
}

.menu-left .menu-contact a{
  font-size: 36px;
  color: #FFD6AC;
}
.menu-left .menu-contact .links {
  text-align: right;
}
.menu-left .languages a {
  font-size: 25px;
  color: #FFD6AC;
}
.menu-left .languages a:first-child{
  font-weight: 800;
  text-decoration: underline;
}
.menu-left .menu-contact i{
  font-size: 35px;
  margin-right: 15px;
}

.menu-right a {
  font-size: 130px;
  display: block;
  margin-bottom: 10px;
  margin-top: 0;
  color: #FFD6AC;
}

.menu-right .about a {
  font-family: 'Trash';
}


.menu-right .infos a {
  font-family: 'Saonara';
}


.menu-right .faq a{
  font-family: 'Harbour';
}

.menu-right .archives a{
  font-family: 'Mantra Alt';
}
.menu-right .subpart {
  transition: 0.5s;
}
.menu-right .subpart a {
  transition: 0.5s;
}
.menu-right .subpart p {
  opacity: 0;
  height: 0;
  margin: 0;
  transition: 0.5s;
}
@media screen and (max-width: 780px) {
  .menu-window {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    height: calc(100% - 150px);
  }
  .menu-left h3 {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    font-size: 28px;
  }
  .menu-left h3 br {
    display: none;
  }
  .menu-left h3 strong {
    font-size: 40px;
  }
  .menu-left .menu-contact a{
    font-size: 31px;
  }
  .menu-left, .menu-right {
    display: block;
    width: 80%;
  }
  .menu-left .menu-contact .links {
    text-align: left;
  }
  .menu-right {
    padding-left: 0;
    height: auto;
    margin-bottom: 4rem;
  }
  .menu-left {
    padding-right: 0;
    border-right: none;
    height: auto;
    margin: 0;
  }
  .menu-left .languages {
    position: absolute;
    bottom: 32px;
    right: 32px;
  }

  .menu-right a {
    font-size: 70px;
    width: 100%;
  }
}
