.menu-window {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  color: white;
  height: 100%;
  width: 100%;
  font-family: "Circular";
}
.menu-left {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 90%;
  margin: auto 0;
  justify-content: center;
  border-right: 1px solid white;
  padding-right: 5rem;
}
.menu-right {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  padding-left: 5rem;
}


.menu-left h3 {
  font-size: 26px;
  text-align: right;
  font-weight: normal;
  margin-bottom: 30px;
}

.menu-left h3 strong {
  font-size: 40px;
}

.menu-left .menu-contact #mail {
  font-weight: 800;
  border-bottom: 1px solid white;
  padding-bottom: 2px;
}

.menu-left .menu-contact {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-between;
}
.menu-left .menu-contact a{
  font-size: 30px;
}
.menu-left .menu-contact i{
  font-size: 35px;
}

.menu-right a {
  font-size: 150px;
  margin-bottom: 10px;
}

.menu-right #about {
  font-family: 'Trash';
}


.menu-right #infos {
  font-family: 'Saonara';
}


.menu-right #faq {
  font-family: 'Harbour';
}

.menu-right #archives {
  font-family: 'Mantra Alt';
}
