.menu-window {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: calc(100% - 120px);
  width: 100%;
  font-family: "Circular";
  color: #FFD6AC;
}
.menu-left {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 90%;
  margin: auto 0;
  justify-content: space-around;
  border-right: 1px solid #FFD6AC;
  padding-right: 5rem;
}
.menu-right {
  grid-area: 1 / 2 / 2 / 3;
  min-height: 500px;
  max-height: 1500px;
  margin: auto 0;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.menu-left h3 {
  font-size: 27px;
  text-align: right;
  font-weight: normal;
  margin-bottom: 30px;
}


.menu-left h3 strong {
  font-size: 50px;
}

.menu-left .menu-contact #mail {
  font-weight: 800;
  text-decoration: underline;
  margin-right: 15px;
}

.menu-left .menu-contact a{
  font-size: 30px;
  color: #FFD6AC;
}
.menu-left .menu-contact .links {
  text-align: right;
}
.menu-left .languages a {
  font-size: 20px;
  color: #FFD6AC;
  transition: 0.5s;
}
.menu-left .languages.hidden{
  bottom: -200px;
}
.menu-left .languages a:first-child{
  font-weight: 800;
  text-decoration: underline;
}
.menu-left .menu-contact i{
  font-size: 30px;
  margin-right: 15px;
}

.menu-right a.title {
  font-size: 90px;
  display: block;
  margin-bottom: 10px;
  margin-top: 0;
  color: #FFD6AC;
  transition: 1s;
}

.menu-right .engaged a.title {
  font-family: 'Trash';
}


.menu-right .useful a.title {
  font-family: 'Saonara';
}


.menu-right .curious a.title{
  font-family: 'Harbour';
}

.menu-right .nostalgy a.title{
  font-family: 'Mantra Alt';
}
.menu-right .subpart {
  transition: 0.5s;
}
.menu-right .subpart section {
  opacity: 0;
  height: 0;
  margin: 0;
  transition: 1s;
  font-size: 25px;
  overflow: scroll;
  padding-right: 10px;
}
section::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 0;
}
.menu-right .subpart section .accordion-item, p{
  margin: 1em 0;
}
.menu-right .subpart section .accordion-item h4{
  font-weight: bold;
  margin: 0;
  cursor: pointer;
}
.menu-right .subpart section .accordion-item h4::before {
  content: '+';
  margin-right: 0.9em;
}
.menu-right .subpart section .accordion-item ul {
  margin-top: 0;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  padding-left: 1em;
  margin-bottom: 0;
  margin-left: 0.5em;
  transition: max-height 0.5s ease-in-out 0s;
  border-left: solid 1px #FFD6AC;
  opacity 0.25s ease-in-out 0s,
  padding 0s ease-in-out 0s,
  margin-top 0.5s ease-in-out 0s,
  visibility 0s ease-in-out 0.5s;
  list-style: none;
}
.menu-right .subpart section .accordion-item.active ul {
  display: block;
  visibility: visible;
  max-height: 40em;
  opacity: 1;
  margin-top: 1em;
  transition: max-height 0.5s ease-in-out 0.10s,
  opacity 0.25s ease-in-out 0.5s,
  padding 0s ease-in-out 0s,
  margin-top 0.5s ease-in-out 0.10s,
  visibility 0s ease-in-out 0s;
  }
.menu-right .subpart section .accordion-item.active li:before {
  content: "\21C0";
  margin-right: 12px;
}
.menu-right .curious .foundations {
  list-style-type: none;
}
.menu-right .curious .definitions ul{
  list-style-type: disc;
}

.menu-right .curious .foundations > li:before {
  content: "–";
  margin-right: 1.1em;
}
.menu-right .nostalgy h3 {
  content: "–";
  margin-right: 1.1em;
}
.menu-right .nostalgy .site {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  align-items: center;
  width: 70%;
}
.menu-right .nostalgy .site .year {
  font-size: 65px;
  font-weight: bold;
}
.menu-right .nostalgy .site a {
  font-size: 35px;
  color: #FFD6AC;
  text-decoration: underline;
}
.menu-right .nostalgy i {
  text-decoration: none;
  margin-right: 5px;
}

.menu-right .nostalgy .year {
  width: 20%;
}

@media screen and (max-width: 780px) {
  .menu-window {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    height: calc(100% - 90px);
  }
  .menu-left h3 {
    text-align: left;
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
  .menu-left h3 br {
    display: none;
  }
  .menu-left h3 strong {
    font-size: 33px;
  }
  .menu-left .menu-contact a{
    font-size: 20px;
  }
  .menu-left .menu-contact i {
    font-size: 25px;
  }
  .menu-left, .menu-right {
    display: block;
    width: 80%;
  }
  .menu-left .menu-contact .links {
    text-align: left;
  }
  .menu-left .languages a {
    font-size: 15px;
  }
  .menu-right {
    padding-left: 0;
    min-height: auto;
    max-height: auto;
    margin: 0;
    margin-bottom: 4rem;
  }
  .menu-left {
    padding-right: 0;
    border-right: none;
    height: auto;
    margin: 0;
    transition: 0.5s;
  }
  .menu-left.visible {
    transform: translateY(80vh);
  }
  .menu-left .languages {
    position: absolute;
    bottom: 32px;
    right: 40px;
  }

  .menu-right a.title {
    font-size: 49px;
    width: 100%;
  }
  .menu-right .subpart section {
    opacity: 0;
    height: 0;
    margin: 0;
    transition: 1s;
    font-size: 16px;
    overflow: scroll;
    padding-right: 10px;
  }
  .menu-right .nostalgy .site {
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
  }
  .menu-right .nostalgy .year {
    width: auto;
  }
}
