a {
  color: #FFF;
  text-decoration: none;
}
a:focus {
  outline: none;
  border: none;
}

.overlay {
  display: flex;
  position: fixed;
  background: rgb(23,22,18);
  top: 0;
  left: 0;
  z-index:30;
  width: 100%;
  height: 0%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s, height 0.5s;
  display: flex;
  align-items: flex-end;
}
.overlay.open {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.overlay #back-button {
  top: 40px;
  font-family: "Circular";
  position: absolute;
  left: 20%;
  color: #FFD6AC;
  cursor: pointer;
  font-size: 36px;
  opacity: 0;
  transition: 0.2s;
  font-weight: bold;
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 20%;
  }
  100% {
    opacity: 1;
    left: 0;
  }
}

@media screen and (max-width: 780px) {
  .overlay #back-button {
    top: 30px;
    left: 26px;
    font-size: 32px;
  }
}
